body{
    margin: 40px ;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 40px ;
}

.item {
    background: lightblue;
    padding: 10PX;
    border-radius: 5px;
    text-align: center;
}

.item img {
    max-width: 80%;
    max-height: 80%;
    margin: 10px auto;
}